h2 {
    width: 100%;
    padding: 20px;
}

#search input[type="radio"] {
    display: none;
}

#search input[type="radio"]:checked+label {
    background: lightblue
}

.header-image {
    background-image: url('../images/bookcase.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}


.navbar-item {
    color: white;

}

.navbar {
    background-color: black;
}

.card {
    border-radius: 10px;
}

#results {
    flex-wrap: wrap;

}

#results .card {
    width: 75%;
    height: 100%;
}

#results .card-img {
    height: 100%;
}

.box {
    width: 75%;
    height: 100%;
}

#search-button:active{
    background-color: lightblue;
}