h2 {
    width: 100%;
    padding: 20px;
}

#search input[type="radio"] {
    display: none;
}

#search input[type="radio"]:checked+label {
    background: grey
}

.header-image {
    background-image: linear-gradient(grey, red);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.navbar-item :hover {
    background-image: linear-gradient(grey, red);
    color: black;
}

.navbar-item {
    color: white;

}

.navbar {
    background-color: black;
}

.card {
    border-radius: 10px;
}

#results {
    flex-wrap: wrap;

}

#results .card {
    width: 75%;
    height: 100%;
}

#results .card-img {
    height: 100%;
}